<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>boul_navi</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/send_url.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.1.2/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <%- include('partials/header'); %>
    <div class="top">
      <div class="main_wrapper">
        <div class="container">
          <% if(errors.length > 0){ %>
            <ul class="errors">
             <% errors.forEach(error => { %>
              <li><%= error %></li>
             <% }); %>
            </ul>
          <% } %>  
          <h1>ボルダリングジムに行こう！</h1>
          <p class="index">大阪府のボルダリングジム一覧↓↓</p>
          <ul class="top_lists">
            <% gims.forEach((gim) => { %>
              <li class="lists_item">
                <a href="/gim/<%= gim.id %>"><%= gim.name %></a>
                <br>
                <div class="gim_img">
                  <img src="/images/sub_gim.<%= gim.id %>.jpg">
                  <p class="source">出典：<%= gim.website %></p>
                </div>
                <p class="address"><%= gim.address %></p>
              </li>
            <% }) %>
            </ul>
          <br>
          <h2></h2>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>